{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	{% include "page_head/page_head.html.twig" with {'page_name': 'Login Form'} %}
	<div class="main_content">
		<div class="login_register_wrap section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-6 col-md-10">
						<div class="login_wrap">
							<div class="padding_eight_all bg-white">
								<div class="heading_s1">
									<h3>Login</h3>
								</div>
								<form method="post" class="ng-untouched ng-pristine ng-invalid">

									{% if error %}
										<div class="alert alert-danger">
											{{ error.messageKey|trans(error.messageData, 'security') }}
										</div>
									{% endif %}

									{% if app.user %}
										<div class="mb-3">
											You are logged in as
											{{ app.user.userIdentifier }},
											<a href="{{ path('app_logout') }}">Logout</a>
										</div>
									{% endif %}

									<div class="form-group mb-3">
										<input type="text" name="email" placeholder="Your Email" class="form-control" autocomplete="email" value="{{ last_username }}" required autofocus>
									</div>

									<div class="form-group mb-3">
										<input type="password" name="password" placeholder="Password" class="form-control" autocomplete="current-password" required>
									</div>

									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

									<div class="form-group mb-3">
										<button type="submit" name="login" class="btn btn-fill-out btn-block">
											Log in
										</button>
									</div>
								</form>

								{# ✅ Affiche le bloc d'inscription uniquement si ce n’est pas une redirection depuis /admin #}
								{% if not app.session.get('redirect_from_admin') %}
									<div class="different_login">
										<span>or</span>
									</div>
									<div class="form-note text-center">
										Don't Have an Account?
										<a href="/register">Sign up now</a>
									</div>
								{% else %}
									{% do app.session.remove('redirect_from_admin') %}
								{% endif %}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
