{% extends 'base.html.twig' %}

{% block title %}Express | Contact page
{% endblock %}

{% block body %}
	{% include "page_head/page_head.html.twig" with {'page_name': 'Contact'} %}
	<div class="container mt-5">
		<h2>Contactez-nous</h2>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}

		{{ form_start(contactForm) }}
		<div class="mb-3">
			{{ form_label(contactForm.subject) }}
			{{ form_widget(contactForm.subject, { 'attr': {'class': 'form-control'} }) }}
			{{ form_errors(contactForm.subject) }}
		</div>

		<div class="mb-3">
			{{ form_label(contactForm.email) }}
			{{ form_widget(contactForm.email, { 'attr': {'class': 'form-control'} }) }}
			{{ form_errors(contactForm.email) }}
		</div>

		<div class="mb-3">
			{{ form_label(contactForm.content) }}
			{{ form_widget(contactForm.content, { 'attr': {'class': 'form-control'} }) }}
			{{ form_errors(contactForm.content) }}
		</div>

		{# <button type="submit" class="btn btn-primary">{{ contactForm.send.vars.label }}</button> #}
		{{ form_end(contactForm) }}
	</div>
{% endblock %}
